.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 1000px;
    height: 150px;
    gap: 10px;
    padding: 20px;
  }
  .square {
    background-color: lightsteelblue;
    display: flex;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    justify-content: center;
    align-items: center;
  }